/* Media query for mobile */
@media (max-width: 576px) {
    .small_device6 {
        /* margin-top: 0px; */
        margin-bottom: 90px;
    }

    .large_device6 {
        display: none;
    }

    /* 
    large_device6 {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      } */

    .mySwiper2 {
        /* width: 100%;
        height: 300px; */
        margin-top: 40px;
    }

    .mySwiper2 .swiper-slide {
        /* background-position: center; */
        background-size: cover;
        width: 300px;
        height: 300px;
        
    }

    .mySwiper2 .swiper-slide img {
        /* display: block; */
        width: 100%;
        border-radius: 10px;

    }

    .mySwiper2 .swiper-button-prev,
    .mySwiper2 .swiper-button-next {
        padding-top: 80px;
        color: #bab105;
    }

    .swiper_inside_box1 {
        position: absolute;
    }

    .swiper_inside_box2 {
        position: relative;
        padding: 20px;
    }

    .swiper_inside_box2 p {
        color: #ffffff;
        padding-top: 110px;
        font-size: large;
    }

    .swiper_inside_box2 img {
        height: 120px;
        padding-right: 140px;
        /* padding-top: 25px; */
    }



}

@media (min-width: 576px) and (max-width: 950px) {
    .small_device6 {
        display: none;
    }

    .box_padding6 {
        padding: 43px;
    }

    .box6_1 {
        /* width: 441px; */
        height: 256px;
        /* background: #fbfbfb; */
    }

    .box6_2 {
        /* width: 670px; */
        height: 310.26px;
        /* background: #ffffff; */
    }

    .image_box6_1 {
        position: absolute;
        width: 29.5%;
        height: 230px;
    }

    .image_box6_2 {
        position: absolute;
        width: 45.5%;
        height: 230px;
    }

    .box_contends6 {
        position: relative;
        color: #ffffff;
    }

    .box_contends6 p {
        /* padding-top: 90px; */
        padding-left: 16px;
        /* background: #000; */
        width: 90%;
    }

    .box_contends6 img {
        padding-top: 20px;
        padding-left: 16px;
    }

}

@media (min-width: 950px) {
    .small_device6 {
        display: none;
    }

    .box_padding6 {
        margin: 4.5%;
    }

    .box6_1 {
        width: 97%;
        /* height: 256px; */
        height: 103%;
        /* background: #fbfbfb; */
        position: relative;
        overflow: hidden;
    }

    .box6_2 {
        width: 148%;
        /* height: 310.26px; */
        /* height: 260px; */
        height: 120%;
        /* background: #ffffff; */
        position: relative;
        overflow: hidden;
    }

    .image_box6_1 {
        position: absolute;
        /* width: 29.9%; */
        width: 100%;
        /* height: 262px; */
        /* width:352px; */
        height: 100%;

        object-fit: cover;
    }

    .image_box6_2 {
        position: absolute;
        width: 100%;
        height: 100%;
        /* height: 47%; */

    }

    .box_contends6 {
        position: relative;
        color: #ffffff;
    }

    .box_contends6 p {
        /* padding-top: 90px; */
        padding-left: 16px;
        /* background: #000; */
        width: 90%;
        padding-top: 10%;
    }

    .box_contends6 img {
        padding-top: 20px;
        padding-left: 16px;
    }


}