/* Media query for mobile */
@media (max-width: 576px) {
    .small_device5 {
        display: block;

    }

    .large_device5 {
        display: none;
    }

    .small_device_box5 {
        /* height: 420px; */
        /* width: 100%; */
        /* position: relative; */
        /* overflow: hidden; */

        /* object-fit: cover; */
    }

    .img5 {
        width: 100%;
        /* position: absolute; */
        height: 250px;
        border-radius: 13px;
        object-fit: cover;

    }

    /* .img5_1 {
        object-position: center -90px; 
    } */

    .img5_2 {
        object-position: center -60px;
    }

    .img5_3 {
        object-position: center -30px;

    }


    .sub_Heading5 {
        font-size: 20px;
        font-weight: 900;
        /* padding-top: 50px; */
    }


    .small_device_box_inside5 {
        /* position: relative; */
        /* text-align: center; */
        /* color: #fff; */
        /* padding: 10px; */
        font-size: 13px;
        font-weight: 500;
    }

    .small_device_box_inside5 img {
        width: 270px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .small_device_box_inside5 .p5 {
        padding-bottom: 40px;
    }

}

/* Media query for medium devices (e.g., tablets) */
@media (min-width: 576px) and (max-width: 1000px) {
    .small_device5 {
        display: none;
    }

    .large_device5 {
        display: block;
    }

    .music_class_box5 {
        width: 90%;

    }

    .music_class_box5 p {
        padding-top: 30px;
        padding-bottom: 20px;

    }
    .img_music_class5 {
        border-radius: 30px;
        height: 220px;
        width: 650px;
        object-fit: cover;

    }
    .img_music_class5_1 {
        
        object-position: center -80px;

    }

}

/* Media query for large devices (e.g., desktops) */
@media (min-width: 1000px) {
    .small_device5 {
        display: none;
    }

    /* .img_letter5 {
        width: 400px;
    }

    .img_music_class5 {
        width: 500px;
    } */

    .music_class_box5 {
        width: 95%;
        margin-top: 40px;

    }

    .music_class_box5 p {
        padding-top: 30px;

    }

    .sub_Heading5 {
        font-size: 55px;
        font-weight: bold;
        padding-top: 50px;
    }

    .img_music_class5 {
        border-radius: 30px;
        height: 350px;
        width: 650px;
        object-fit: cover;

    }
    .img_music_class5_1 {
        
        object-position: center -80px;

    }

}