body {
  background: radial-gradient(#fbe99e, #ffffff);
  font-family: "Be Vietnam Pro", sans-serif;
  /* font-weight: 100; */
  font-style: normal;
}



/* Media query for mobile */
@media (max-width: 576px) {
  body {
    font-size: 11px;
  }

  .logo_coustom {
    width: 40px;
  }

  .horizontal_line {
    width: 100%;
    height: 1px;
    background: #000;
  }

  .custom_padding {
    padding: 17px;
  }

  .miracle_box {
    width: 240px;
  }

  .music_box {
    width: 120px;
  }

  .academy_box {
    width: 200px;
  }

  .sub_Heading {
    font-size: 20px;
    font-weight: 900;
  }

  /* .hero_p {} */

  .register_box {
    display: flex;
    justify-content: center;
    width: 202px;
    height: 49px;
    border-radius: 11px;
    background: #30025A;
    box-shadow: 1px 1px 8px 1px;
    margin-left: 5px;
  }

  .register_box h4 {
    font-size: 24px;
    color: rgba(206, 189, 142, 1);
    font-weight: bold;
    padding: 0%;
    margin-top: 5px;
    margin-left: 10px;
  }

  .register_box img {
    width: 31.54px;
    margin: 0 0 10px 8px;
  }

  .whatsapp_box {
    width: 92px;
    height: 49px;
    border-radius: 11px;
    background: #30025A;
    box-shadow: 1px 1px 8px 1px;
    margin-left: 15px;
  }
  .whatsapp_box img {
    width: 30px;
    margin: 8px 28px;
  }
}

/* Media query for medium devices (e.g., tablets) */
@media (min-width: 577px) and (max-width: 1000px) {

  /* body {
    font-size: 11px;
  } */
  .custom_padding {
    padding: 43px;
  }

    .sub_Heading {
    font-size: 30px;
    font-weight: 900;
  }

  .logo_coustom {
    width: 60px;
  }

  .horizontal_line {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: px;
  }
}

/* Media query for large devices (e.g., desktops) */
@media (min-width: 1000px) {
  body {
    font-size: 18px;
  }

  .horizontal_line {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 10px;
  }

  .custom_padding {
    padding: 43px;
  }

  .counter {
    padding: 45px;
    /* height: 169px; */
  }

  .music_courses {
    size: 100px;
  }

  .sub_Heading {
    font-size: 55px;
    font-weight: bold;
  }

  .music_class_box {
    width: 600px;
    height: 351.87px;
  }



}

/* @media (min-width: 1024px) {
  body {
    font-size: 18px;
  }

  .horizontal_line {
    width: 100%;
    height: 1px;
    background: #000;
    margin-top: 10px;
  }

  .custom_padding {
    padding: 43px;
  }

  .counter {
    padding: 45px;
  }

  .music_courses {
    size: 100px;
  }

  .sub_Heading {
    font-size: 55px;
    font-weight: bold;
  }

  .music_class_box {
    width: 600px;
    height: 351.87px;
  }



} */