/* Media query for mobile */
@media (max-width: 576px) {

    .box9 h4 {
        font-size: 13px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    .qna_box9 p {
        font-size: 9px;
        font-weight: lighter;
        margin-top: 5px;
    }

    .box9 img {
        margin-top: 20px;
    }

    .n4_qna9 {
        font-size: larger;
        font-weight: 600;
        margin-top: 10px;
    }

    .qna_box9 {
        background: #0A1047;
        margin-top: 50px;
        color: #fff;
    }

}

@media (min-width: 576px) and (max-width: 950px) {
    .box9 h4 {
        font-size: 25px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    /* .box9 p{} */
    .box9 img {
        margin-top: 20px;
    }
}



/* Media query for large devices (e.g., desktops) */
@media (min-width: 950px) {
    .box9 h4 {
        font-size: 40px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    /* .box9 p{} */
    .box9 img {
        margin-top: 20px;
    }
}