/* Media query for mobile */
@media (max-width: 576px) {

    .box9 h4 {
        font-size: 13px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    .qna_box9 p {
        font-size: 9px;
        font-weight: lighter;
        margin-top: 5px;
    }

    .box9 img {
        margin-top: 20px;
    }

    .n4_qna9 {
        font-size: larger;
        font-weight: 600;
        margin-top: 10px;
    }

    .qna_box9 {
        background: #0A1047;
        margin-top: 50px;
        color: #fff;
    }

    .footer {
        margin-top: 50px
    }

    .footer h4 {
        font-size: large
    }

    .social_box {
        margin: 10px 0 10px 0;
    }

    .privacy_box {
        text-align: center;
        /* background: red; */
        width: 100px;
        border-radius: 10px;
        margin-top: 10px;
        border: 1px solid #fff;
    }

}

@media (min-width: 576px) and (max-width: 950px) {
    .box9 h4 {
        font-size: 25px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    /* .box9 p{} */
    .box9 img {
        margin-top: 20px;
    }

    .qna_box9 {
        background: #0A1047;
        margin-top: 50px;
        color: #fff;
    }

    .qna_box9 h3 {
        font-size: xx-large;
    }

    .n4_qna9 {
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 10px;
    }


    .qna_box9_h3,
    .qna_box9_h2,
    .qna_box9_h1 {

        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer {
        margin-top: 50px
    }

    .footer h4 {
        font-size: x-large
    }
    .privacy_box {
        text-align: center;
        /* background: red; */
        width: 150px;
        border-radius: 20px;
        margin-top: 70px;
        border: 1px solid #fff;
    }


}



/* Media query for large devices (e.g., desktops) */
@media (min-width: 950px) {
    .box9 h4 {
        font-size: 40px;
        font-weight: 600;
        margin: 20px 0 20px;
    }

    /* .box9 p{} */
    .box9 img {
        margin-top: 20px;
    }

    .qna_box9 {
        background: #0A1047;
        margin-top: 50px;
        color: #fff;
    }

    .qna_box9 h3 {
        font-size: xx-large;
    }

    .n4_qna9 {
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 10px;
    }


    .qna_box9_h3,
    .qna_box9_h2,
    .qna_box9_h1 {

        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .footer {
        margin-top: 50px
    }

    .footer h4 {
        font-size: x-large
    }
    .privacy_box {
        text-align: center;
        /* background: red; */
        width: 150px;
        border-radius: 20px;
        margin-top: 70px;
        border: 1px solid #fff;
    }


}